/* =============================== */
/* 1. Grunnstil for body */
/* =============================== */

body {
  background-color: #0A1B34;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: white;
  overflow-y: scroll;
}

/* =============================== */
/* 2. Header og logo */
/* =============================== */

header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo {
  height: 50px;
}

/* =============================== */
/* 3. Beholder for innloggingsskjema */
/* =============================== */

.login-container {
  display: flex;
  flex-direction: column;
  margin: 144px;
  opacity: 100%;
  border-radius: 10px;
  text-align: center;
}

/* =============================== */
/* 4. Overskrift */
/* =============================== */

h1 {
  color: #eff1f4;
  font-size: 24px;
  font-weight: 600;
}

/* =============================== */
/* 5. Inndeling av input-felt */
/* =============================== */

.input-group {
  margin: 24px;
}

/* =============================== */
/* 6. Stil for input-felt */
/* =============================== */

input {
  width: 64%;
  padding: 12px;
  border: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: white;
  text-align: center;
}

/* =============================== */
/* 7. Innloggingsknapp */
/* =============================== */

.login-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #D62E40;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  cursor: pointer;
}

.login-button:hover {
  background-color: #781a24;
}

/* =============================== */
/* 8. Feilmeldingstekst */
/* =============================== */

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}
