  /* =============================== 
     1. Grunnstil for nettsiden 
     =============================== */

  body {
    background-color: #0A1B34;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  
  /* ===============================
     2. Hovedcontainer for profil 
     =============================== */
  
  .profil-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  
  /* =============================== 
    3. Profilkort med info og bilde 
     =============================== */
  
  .profil-card {
    width: 350px;
    padding: 20px;
    background-color: #1c2a38;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* =============================== 
    4. Bildeinnpakning og utforming 
     =============================== */
  
  .profil-image {
    margin-bottom: 20px;
  }
  
  .profil-img {
    width: 100px;
    height: 100px;
    border: 3px solid #235f9f;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* ===============================
    5. Tekstlig info under bilde 
     =============================== */
  .profil-button{
    display: flex;
    justify-content: center;
  }
 
  
  .profil-info p {
    font-size: 1rem;
    color: white;
  }
  
  /* ===============================
    6. Responsiv tilpasning
     =============================== */
  @media (max-width: 768px) {
    .profil-card {
      width: 90%;
    }
  }
  
  /* =============================== 
   7. Knappestiler
     =============================== */
  .secondaryBTN {
    display: flex;
    vertical-align: middle;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .secondaryBTN:hover {
    background-color: white;
    color: #235f9f;
  }